//1. Navbar
@mixin left-navbar($primary-color, $secondary-color, $font) {
    //Flex Stuff
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    //Background
    background-color: $secondary-color;
    padding: .4%;

    //Foreground
    a {
        //Variables
        background-color: $primary-color;
        font-family: $font;
        &:hover {
            color: $secondary-color;
        }

        //Numbers
        width: 8%;
        margin-left: .7%;
        height: 1%;
        font-size: 160%;
        border-radius: 5%;

        //Text decoration
        text-align: center;
        text-decoration: none;
        color: black;
    }
}

//2. Footer
@mixin simple-footer($footer-background, $footer-text-color, $footer-hover, $font) {
    background-color: $footer-background;
    color: $footer-text-color;
    font-family: $font;

    text-align: center;
    position: absolute;

    bottom: 0;
    width: 100%;
    
    #contactUs {
        text-decoration: none;
        color: $footer-text-color;
        &:hover {
            color: $footer-hover;
        }
    }
}